.Header-part
  .Icons
    .Icons__icon
      .Icons__icon--user
        = link_to "#" do
          = icon('fas', 'user')
    .Icons__icon
      .Icons__icon--cart
        = link_to "#" do
          = icon('fas', 'cart-plus')
    .Icons__icon
      .Icons__icon--heart
        = icon('fas', 'heart')
  .Header-part__contents
    .Header-part__contents__top
      .Header-part__contents__top_text
      %h1.Header-part__contents__top__icon
        = link_to "#", class: 'Header__contents__top__icon__logo' do
          = image_tag "rental2.png", alt: "logo", width: '120', class: 'Header__contents__top__icon__logo__img'
      .Header-part__contents__top__search
        %form.Header-part__contents__top__search__form
          %input.Header-part__contents__top__search__form__box{"placeholder": "キーワードから探す", "type": "text"}
          %button.Header-part__contents__top__search__form__btn
            = image_tag 'icon-search1.png', class: "Header-part__contents__top__search__form__btn__icon-image"
    .Header-part__contents__menu
      %ul.Header-part__contents__menu__left
      %ul.Header-part__contents__menu__right
        %li.Header-part__contents__menu__left__list--first
          %li.Header-part__contents__menu__left__list--first
            -if user_signed_in?
              %li.Header-part__contents__menu__left__list--first
                = link_to "マイページ", users_path, class: 'Header-part__contents__menu__right' 
            -else
              %li.Header-part__contents__menu__left__list--first
                = link_to "/users/sign_in", class: 'Header-part__contents__menu__left__list--first__btn' do
                  ログイン
              %li.Header-part__contents__menu__left__list--second
                = link_to "/users/sign_up", class: 'Header-part__contents__menu__left__list--second__btn' do
                  新規会員登録
.img 
  .img__top
    = image_tag "sample.png", class: "img__header"
    %p 特別な日に特別な服をレンタルしませんか。

.wrapper
  = render "main_screen"