.Address
  .Address__box
    .Address__item
      .Address__title
        商品送付先入力
    .Address__form
      .Address__form-set
        = form_with model: @address, local: true do |f|
          .Address__form-set__name
            お名前（全角）
            %span.Form-require 必須
          .Address__form-set__fullname
            = f.text_field :address_family_name, class: "Address__form-set__fullname-lastname", placeholder: "例)山田"
            = f.text_field :address_first_name, class: "Address__form-set__fullname-firstname", placeholder: "例)太郎"
          .Address__form-set__Kana
            お名前カナ（全角）
            %span.Form-require 必須
          .Address__form-set__kanafull
            = f.text_field :address_family_name_kana, class: "Address__form-set__kanafull-lastname", placeholder: "例)ヤマダ"
            = f.text_field :address_first_name_kana, class: "Address__form-set__kanafull-firstname", placeholder: "例)タロウ"
          .Address__form-set__PostalCode
            郵便番号（半角）
            %span.Form-require 必須
          = f.text_field :post_code, class: "Address__form-set__PostalCode-number", placeholder: "郵便番号 ※ハイフン不要"
          .Address__form-set__Prefecture_id
            都道府県
            %span.Form-require 必須
          = f.text_field :prme, class: "Address__form-set__apartment-name", placeholder: "○マンション/○ビル○号室"
          .Address__form-set__user-register
          = f.submit "ユーザー登録", class: "Address__form-set__user-register-btn"