.Header-part
  .Icons
    .Icons__icon
      .Icons__icon--user
        = link_to "#" do
          = icon('fas', 'user')
    .Icons__icon
      .Icons__icon--cart
        = link_to "#" do
          = icon('fas', 'cart-plus')
    .Icons__icon
      .Icons__icon--heart
        = icon('fas', 'heart')
  .Header-part__contents
    .Header-part__contents__top
      .Header-part__contents__top_text
      %h1.Header-part__contents__top__icon
        = link_to "#", class: 'Header__contents__top__icon__logo' do
          = image_tag "rental2.png", alt: "logo", width: '120', class: 'Header__contents__top__icon__logo__img'
      .Header-part__contents__top__search
        %form.Header-part__contents__top__search__form
          %input.Header-part__contents__top__search__form__box{"placeholder": "キーワードから探す", "type": "text"}
          %button.Header-part__contents__top__search__form__btn
            = image_tag 'icon-search1.png', class: "Header-part__contents__top__search__form__btn__icon-image"
.Mypage-main
  = render 'users/sidemenu'
  .Mypage-main__rightside
    .Mypage-main__area
      = link_to "#" do
        .Mypage-main__user-space
          .Mypage-main__user
            -# = image_tag('avatardefault_92824.png', class: 'Mypage-main__img')
            .Mypage-main__name
              -# = current_user.nickname
            .Mypage-main__number
              .Mypage-main__evaluation
                %span 評価
                %span 0
              .Mypage-main__sell
                %span 出品数
                %span 0
